.pathClass {
  fill: rgb(205, 218, 224);
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}

.pathClass:hover {
  opacity: 0.5;
  fill: red;
}

.txtClass {
  font-size: 24;
  font-style: normal;
  font-weight: normal;
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  font-family: Bitstream Vera Sans
}

.tSpanClass {
  font-size: 24;
  font-weight: bold;
  -inkscape-font-specification: Bitstream Vera Sans Bold
}